/* Стилі для блоку main_content */
.main_content {
    height: 1000px;
    background-color: #f0f0f0; /* Задайте бажаний колір фону */
    padding: 20px; /* Задайте відступи для внутрішнього вмісту */
}

/* Стилі для заголовка h1 */
h1 {
    font-size: 24px; /* Задайте бажаний розмір шрифту */
    color: #333; /* Задайте бажаний колір тексту */
    margin-bottom: 10px; /* Задайте відступ знизу заголовка, якщо потрібно */
}
