/* Styles for the footer_main container */
.footer_main {
    background-color: #333; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 20px; /* Set padding for inner content */
    text-align: center; /* Center-align the text within the footer */
}

/* Styles for the h1 element within the footer */
.footer_main h1 {
    font-size: 24px; /* Set your desired font size */
    margin: 0; /* Remove any default margin */
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
}

.avatar_logo img{
    height: 50px;
    width: 50px;
}
